<a href="https://colab.research.google.com/github/spacee48/SIT719/blob/main/2_1P.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Section 1**

Step 1: Import the pandas and numpy libraries.

In [1]:
import pandas as pd
import numpy as np

Step 2: Import the popular 'iris' dataset from the below address. And then check the header of the dataset.

In [13]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

iris = pd.read_csv(url)
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

Step 3: Write code to create 5 column heads. Next write a code to display or show the headers/

In [14]:
iris.columns = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]

print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

Step 4: Write a code to check if there are any missing values in the dataframe.

In [15]:
print(iris.isnull())

     sepal_length  sepal_width  petal_length  petal_width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
144         False        False         False        False  False
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False

[149 rows x 5 columns]

Step 5: Write a code to set the values of the rows 10 to 29 of the column 'petal_length' to NaN.

In [16]:
iris.loc[10:29, "petal_length"] = np.nan

print(iris.loc[10:29])

    sepal_length  sepal_width  petal_length  petal_width        class
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa
15           5.4          3.9           NaN          0.4  Iris-setosa
16           5.1          3.5           NaN          0.3  Iris-setosa
17           5.7          3.8           NaN          0.3  Iris-setosa
18           5.1          3.8           NaN          0.3  Iris-setosa
19           5.4          3.4           NaN          0.2  Iris-setosa
20           5.1          3.7           NaN          0.4  Iris-setosa
21           4.6          3.6           NaN          0.2  Iris-setosa
22           5.1          3.3           NaN          0.5  Iris-setosa
23           4.8          3.4           NaN          0.2  Iris-setosa
24           5.0          3.0           NaN          0.2  Iris-setosa
25           5.0          3.4           NaN          0.4  Iris-setosa
26           5.2          3.5           NaN          0.2  Iris-setosa
27           5.2          3.4           NaN          0.2  Iris-setosa
28           4.7          3.2           NaN          0.2  Iris-setosa
29           4.8          3.1           NaN          0.2  Iris-setosa

Step 6: Now again, check if there is any missing values (NaN) in the dataframe? Count how many missing values.

In [17]:
print(iris.isnull())
print(iris.isnull().sum().sum())

     sepal_length  sepal_width  petal_length  petal_width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
144         False        False         False        False  False
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False

[149 rows x 5 columns]
20

Step 7: Substitute the NaN values to 10.0

In [19]:
iris["petal_length"].fillna(10.0, inplace=True)

print(iris.loc[10:29])

    sepal_length  sepal_width  petal_length  petal_width        class
10           4.8          3.4          10.0          0.2  Iris-setosa
11           4.8          3.0          10.0          0.1  Iris-setosa
12           4.3          3.0          10.0          0.1  Iris-setosa
13           5.8          4.0          10.0          0.2  Iris-setosa
14           5.7          4.4          10.0          0.4  Iris-setosa
15           5.4          3.9          10.0          0.4  Iris-setosa
16           5.1          3.5          10.0          0.3  Iris-setosa
17           5.7          3.8          10.0          0.3  Iris-setosa
18           5.1          3.8          10.0          0.3  Iris-setosa
19           5.4          3.4          10.0          0.2  Iris-setosa
20           5.1          3.7          10.0          0.4  Iris-setosa
21           4.6          3.6          10.0          0.2  Iris-setosa
22           5.1          3.3          10.0          0.5  Iris-setosa
23           4.8          3.4          10.0          0.2  Iris-setosa
24           5.0          3.0          10.0          0.2  Iris-setosa
25           5.0          3.4          10.0          0.4  Iris-setosa
26           5.2          3.5          10.0          0.2  Iris-setosa
27           5.2          3.4          10.0          0.2  Iris-setosa
28           4.7          3.2          10.0          0.2  Iris-setosa
29           4.8          3.1          10.0          0.2  Iris-setosa

<ipython-input-19-d8a0f09ba922>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  iris["petal_length"].fillna(10.0, inplace=True)