<a href="https://colab.research.google.com/github/spacee48/SIT719/blob/main/Week1_719.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

**Variables**

In [2]:
x = 10
print(type(x))

y = 1.3
print(type(y))

z = "hello"
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

**List**

In [3]:
myList = [1, 5, 2.57, 'abc', 4.09]

print(type(myList))
print(myList)
print("Length of the list: ", len(myList))

<class 'list'>
[1, 5, 2.57, 'abc', 4.09]
Length of the list:  5

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

print(numbers[0])
print(numbers[7])
print(numbers[-1])

1
8
8

**Tuples**

In [6]:
states = ('VIC', 'NSW', 'QLD', 'WA', 'ACT', 'NT', 'TAS', 'SA')

print(type(states))
print(states)

<class 'tuple'>
('VIC', 'NSW', 'QLD', 'WA', 'ACT', 'NT', 'TAS', 'SA')

**Dictionaries**

In [12]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"

print(dict['one'])
print(dict)

dict['one'] = "One has changed"

print(dict['one'])

This is one
{'one': 'This is one', 2: 'This is two'}
One has changed